# Server
PORT=5000
CORS_ORIGINS=*

# Database
MONGO_URI=mongodb://127.0.0.1:27017/canteenDB

# Default manager account, auto-created on first boot if no managers exist yet
DEFAULT_MANAGER_USERNAME=manager
DEFAULT_MANAGER_PASSWORD=password123
